<div class="container">
  <div class="jumbotron">
    <h1>Welcome to FOODS</h1><br />
    <h2>The easiest way to find food recipes online.</h2><br />
    <%= link_to 'Sign Up', '', class: 'button success big' %>
  </div>
</div>
<div class="container">
  <div class="col">
    <h3>Title1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, culpa, pariatur, iure temporibus repudiandae quam adipisci iusto expedita fugiat at nemo esse amet! Adipisci, suscipit.</p>
    <%= link_to 'Button', '', class: 'button accent' %>
  </div>
  <div class="col">
    <h3>Title2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, culpa, pariatur, iure temporibus repudiandae quam adipisci iusto expedita fugiat at nemo esse amet! Adipisci, suscipit.</p>
    <%= link_to 'Button', '', class: 'button accent' %>
  </div>
  <div class="col">
    <h3>Title3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, culpa, pariatur, iure temporibus repudiandae quam adipisci iusto expedita fugiat at nemo esse amet! Adipisci, suscipit.</p>
    <%= link_to 'Button', '', class: 'button accent' %>
  </div>
</div>