<header class="navbar">
  <div class="navbar__container">
    <div class="navbar__cut--left"></div>
    <div class="navbar__logo">
      <%= link_to 'FOODS', '',id: 'logo' %>
    </div>
    <div class="navbar__cut--right"></div>
    <nav class="navbar__nav">
      <%= link_to 'Link1', '' %>
      <%= link_to 'Link2', '' %>
      <%= link_to 'Link3', '' %>
    </nav>
  </div>
</header>